@font-face {
    font-family: roboto-light;
    src: url('/asets/fonts/static/Roboto-Light.ttf') format(truetype);
}
@font-face {
    font-family: roboto;
    src: url('/asets/fonts/static/Roboto-Regular.ttf') format(truetype);
}
@font-face {
    font-family: roboto-bold;
    src: url('/asets/fonts/static/Roboto-Bold.ttf') format(truetype);
}

@font-face {
    font-family: roboto-medium;
    src: url('/asets/fonts/static/Roboto-Medium.ttf') format(truetype);
}


/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */


.roboto-light { 
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100px;
        font-style: normal;
        
    
}
      


.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
   
     
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900px;
    font-style: normal;
   
}